.side-bar
  .side_header
    .side_header__box
      .side_header__box__user_name
        = current_user.name
      .side_header__box__menu 
        .side_header__box__menu__new_group
          = link_to new_group_path do
            %i.fas.fa-edit
        .side_header__box__menu__edit_user
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog
          
    
  .group_list
  - current_user.groups.each do |group|
    .group
      = link_to '#' do
        .group__name
          = group.name
        .group__message
          メッセージはまだありません。
    .group_box
      .group_box__name
        hiro
      .group_box__message
        kokokok
    .group_box
      .group_box__name
        hiro
      .group_box__message
        kokokok     
